body
{
    font-family: Verdana, Helvetica, sans-serif;
    margin-top: 20px;
    padding: 10px;
    background: linear-gradient(to right, black,#434343);
    color:rgb(243, 232, 232);
    height: 100vh; /* Make sure the body takes the full viewport height */
    display: flex;
    flex-direction: column;
}