
.project-page-template
{
    margin-top:80px;
}

.project-page-container
{
    font-family: Verdana, Helvetica, sans-serif;
    margin-top: 60px;
    padding: 10px;
    color:rgb(243, 232, 232);
    height: 100vh; /* Make sure the body takes the full viewport height */
    display: flex;
    flex-direction: column;
}

.subheader
{
    font-family: Verdana, Helvetica, sans-serif;
    color: orange;
    font-size: 30px;
    text-decoration: none;
}

header
{
    font-family: Verdana, Helvetica, sans-serif;
    color: gold;
    font-size: 40px;
    font-weight: bold;
    margin-top:60px;
   
}

html
{
    background: linear-gradient(to right, black,#434343);
    
}

body
{
    height: 100vh; /* Make sure the body takes the full viewport height */
   
    margin-left:100px;
    margin-right:100px;
}

